/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {

/* kleuren */
  --color-page-bg: #f7f4f0;
  --color-text: #333333;
  --color-s1-bg: #cde6e2;
  --color-link: #333333;
  --color-link-hover: #000000;

/* afstanden */
  --space-s: 0.75em;
  --space-m: 1.25em;
  --space-l: 2em;
  --space-xl: 3em;

/* lettertypes */
  --font-size-base: 1em;
  --font-size-small: 0.9em;
  --font-size-title: 1.8em;
  --font-size-title-large: 2.2em;
  --layout-max-width: 64em;
  --radius-m: 1em;
  --radius-s: 0.75em;
}


/****************/
/* lettertypes */
/****************/
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

/****************/
/* media quiris*/
/****************/

@media (min-width: 48em) {
  header {
    padding-inline: 2em;
  }

  header h1 {
    font-size: 1.5em;
  }

  nav a {
    font-size: 1.1em;
  }
}

@media (min-width: 48em) {
  main > section:first-of-type {
    grid-template-columns: 1fr 1fr;  
    align-items: center;
    padding: var(--space-xl);
  }

  main > section:first-of-type > header h1 {
    font-size: var(--font-size-title-large);
  }
}

/****************/
/* JOUW STYLING */
/****************/
body {
margin: 0;
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--font-size-base);
  color: var(--text-color);
}

main {
  padding: 1.25em;
}

/*  grid */
section {
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: repeat(4, 1fr);

}

h1 {
  /* JOUW CODE HIER */
  /* .5em witruimte om h2 */
  margin:.5rem;
  grid-column-start: 2;
}

section :first-of-type p {
grid-row-start: 2;
}

/* afbeeding */
img {
  /* JOUW CODE HIER */
  /*img als eerste */
  grid-row-start:span 2/3;
  /* order:-1; kan ook - net als bij flex */
  
}





/*  responsive */
@media (min-width: 48em) {
  section {
    grid-template-columns: 1fr 1fr;  /* nu 2 kolommen */
    align-items: center;
    padding: 3em;                    /* iets ruimere hero op groot scherm */
  }
}



:root {
  --left-bg: #c6d8d8;
  --text-color: #222222;
  --button-border: #555555;
  --font-size-base: 1em;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  font-size: var(--font-size-base);
  color: var(--text-color);
}

/* De hele hero-sectie als grid-container */
section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;   /* 3 kolommen (1, 2, 3) */
  grid-template-rows: repeat(4, 1fr);   /* 4 rijen (1 t/m 4)   */
  min-height: 70vh;
}

/* Linkerblok (tekst + button) */
article {
  grid-column: 1 / 2;   /* kolom 1 */
  grid-row: 1 / 5;      /* rijen 1 t/m 4 */
  background-color: var(--left-bg);
  padding: 3em;
}

h1 {
  margin: 0 0 1.5em 0;
  font-size: 1.8em;
}

p {
  margin: 0 0 2em 0;
  line-height: 1.5;
  font-size: 1em;
}

/* Button onder de tekst */
button {
  padding: 0.8em 2.5em;
  border: 0.1em solid var(--button-border);
  background-color: transparent;
  font-size: 0.9em;
}

/* Afbeelding rechts */
figure {
  grid-column: 2 / 4;   /* kolommen 2 en 3 */
  grid-row: 1 / 5;      /* rijen 1 t/m 4  */
  margin: 0;
}

figure img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
