/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}

/*********************/
/*variabelen */
/*********************/

:root {
/* kleuren */
  --color-page-bg: #f7f4f0;
  --color-text: #333333;
  --color-s1-bg: #cde6e2;
  --color-link: #333333;
  --color-link-hover: #000000;

/* afstanden */
  --space-s: 0.75em;
  --space-m: 1.25em;
  --space-l: 2em;
  --space-xl: 3em;

/* kleuren */
  --font-size-base: 1em;
  --font-size-small: 0.9em;
  --font-size-title: 1.8em;
  --font-size-title-large: 2.2em;
  --layout-max-width: 64em;
  --radius-m: 1em;
  --radius-s: 0.75em;
}


/****************/
/* lettertypes */
/****************/
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

/****************/
/* media quiris*/
/****************/

@media (min-width: 48em) {
  header {
    padding-inline: 2em;
  }

  header h1 {
    font-size: 1.5em;
  }

  nav a {
    font-size: 1.1em;
  }
}

@media (min-width: 48em) {
  main > section:first-of-type {
    grid-template-columns: 1fr 1fr;  
    align-items: center;
    padding: var(--space-xl);
  }

  main > section:first-of-type > header h1 {
    font-size: var(--font-size-title-large);
  }
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

main > section:first-of-type {
  display: grid;
  grid-template-columns: 1fr;  /* mobiel: 1 kolom */
  gap: var(--space-l);

  margin-top: var(--space-m);
  background-color: var(--color-hero-bg);
  padding: var(--space-l);
  border-radius: var(--radius-m);
}

main > section:first-of-type > header {
  display: grid;
  gap: var(--space-m);
}

main > section:first-of-type > img {
  width: 100%;
  display: block;
  border-radius: var(--radius-s);
}